body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;             ;
}

.container {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
    text-align: center;
    line-height: 0.5rem;
}

.header h1 {
    font-size: 1.8rem;
}

.header h2 {
    font-size: 1.5rem;
}

form {
    background: #f9f9f9;
    padding: 20px;
    width: 50%;
    margin: 5% auto;
    padding: 2rem;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.185);
    border: 1px solid #bd8202;
}

.section {
    margin-bottom: 20px;
}

.section li, .section p {
    text-align: justify;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="file"],
input[type="tel"],
input[type="email"],
select,
textarea {
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 0.7rem;
    margin: 0.5rem 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    margin-top: 20px;
    padding: 10px 30px;
    background-color: #bd8202;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.2s ease-in-out;
}

button:hover {
    background-color: black;
}

/* Passport Preview */
#passportPreview {
    display: block;
    width: 150px;
    height: 150px;
    margin-top: 10px;
    border: 1px solid #ccc;
}

@media (max-width: 780px){

    .container {
        width: 80%;
        margin: auto;
    }

    form {
        border-radius: 10px;
        width: 80%;
        margin: 3rem auto;
        padding: 2rem;
    }

    .header h1 {
        font-size: 1.1rem;
    }
    
    .header h2 {
        font-size: 0.9rem;
    }
    
    .section {
        margin-bottom: 20px;
    }
    
    label {
        display: block;
        margin-top: 10px;
    }

}

/* Print Styling */
@media print {
    body * {
        visibility: hidden;
    }

    #confirmation, #confirmation * {
        visibility: visible;
    }

    #confirmation {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        background-image: url('images/bg.png');
        background-size: 105%;
        background-repeat: no-repeat;
        background-position: center;
        font-size: 14px;
        text-align: justify;
    }

    #confirmationContent {
        background: rgba(255, 255, 255, 0.85); 
        padding: 5px 20px;
        border-radius: 5px;
    }

    /* Header layout for print confirmation */
    .confirmation-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin-left: 12rem;
        margin-bottom: 20px;
    }

    .passport-print {
        width: 100px;
        height: 100px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-left: 20px;
    }
}
